<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>
		<iisnode nodeProcessCountPerApplication="1" loggingEnabled="true" debuggingEnabled="true" devErrorsEnabled="true" watchedFiles="*.js;*.json" nodeProcessCommandLine="node" />

		<rewrite>
			<rules>
				<rule name="static-cache" stopProcessing="true">
					<match url="(.*)" />
					<action type="Rewrite" url="http://localhost:8080{REQUEST_URI}" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite,RequestRouting" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
        <caching enabled="false" enableKernelCache="false" />
	</system.webServer>
</configuration>